.main {
    background-image: url(./../images/main.jpg);
    background-size: cover;
    background-position-x: 62%;

    color: $primaryColor;

    .container {
        @extend %container;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 655px;
    }

    &__title{
        @include text(32px, 700, 39px, $primaryColor); 
        max-width: 247px;
        // margin-top: -6px;
        span {
            color: $accentColor;
        }
    }
 
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    
    &__btn {
        width: 275px;
        height: 68px;
        border: 3px solid $primaryColor;
        border-radius: 7px;
        background-color: transparent;
        @include text(16px, 900, 20px, white); 
        filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
        transform: translateY(-6px);
    }
}
